<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link href="~/Content/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/social-buttons-3.css" rel="stylesheet" />
    <link href="~/Content/Jackson.css" rel="stylesheet"/>

</head>

    <body>
        
        <div class="row blogPage ">
            <div id="" class=" row BlogHeaderRow">
                <div id="" class="col-xs-12 col-md-offset-2 col-md-8   ">
                    <div class="container">


                        <br />
                        <br />
                        <br />
                        <div class="col-xs-1 col-md-3">
                            <img class="img-responsive" src="/Content/images/headShot1.jpg" />
                        </div>
                        <div class="col-xs-11 col-md-6 ">
                            <h1>Wai Guo Abroad! </h1>
                            <h3>the Ramblings about rambling around of Jackson Hayes </h3>
                            <h3>子曰。学而不思则罔、思而不学则殆</h3>

                        </div>

                    </div>
                    <br />
                </div>

            </div>
            <br />
            <div class="body">
                @RenderBody()
            </div>
        </div>
            <footer class="modal-footer row">
                <p>&copy; John Joseph Hayes, Jr. @System.DateTime.Now.ToString("yyyy")</p>
            </footer>

            @Scripts.Render("~/bundles/jquery")
            @Scripts.Render("~/bundles/bootstrap")
            @RenderSection("scripts", required: false)
    
    </body>
</html>
